.main {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    align-items: center;
    justify-content: center;
}

.circle-image {
    align-items: center;
    margin: 0 2rem;
    display: inline-block;
    position: relative;
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
}

.circle-image img {
    width: auto;
    height: 100%;
    background-size: cover;
}

/* .circle-image p{
    z-index: 10;
    position: absolute;
    text-align: center;
    vertical-align: middle;
} */

.circle-image img:hover {
    filter: blur(3px);
}

.inner-text-img {
    display: none;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #FFF;
}

.inner-text-img:hover {
    top: 50%;
    left: 50%;
    /* display: block; */
    position: absolute;
    z-index: 10;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #FFF;
}

.text-home {
    color: black;
}

.bd-black {
    border-radius: 40px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bd-black-top {
    /* border-radius: 70px; */
    padding: 1px 20px 10px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.container, .row {
    margin-top: 1.5rem;
    background-color: #FFF;
}

.im {
    display: inline-block;
    position: relative;
    width: 350px;
    height: auto;
    overflow: hidden;
    margin: 0 1rem;
}

.im img {
    width: auto;
    height: 100%;
    background-size: cover;
}

/* CSS */
.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 15px 20px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}